<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hi</title>
</head>
<body>
    <h1>hi MY FRIEND



    </h1>

    
<form action="/profile" method="post" enctype="multipart/form-data">
 upload test
    <input type="file" name="uploaded_file" />

<button>sumbit</button>
</form>



</body>
</html>